package main

import (
	"fmt"
	"net/http"
	"strconv"
)

var counter int

func GetHAndler(w http.ResponseWriter, r *http.Request) {
	if r.Method == http.MethodGet {
		fmt.Fprintln(w, "Counter равен", strconv.Itoa(counter))
	} else {
		fmt.Fprintln(w, "Поддерживается только метод GET")
	}
}

func PostHandler(w http.ResponseWriter, r *http.Request) {
	if r.Method == http.MethodPost {
		counter++
		fmt.Fprintln(w, "Counter увеличен на 1")
	} else {
		fmt.Fprintln(w, "Поддерживается только метод POST")
	}
}

func main() {
	http.HandleFunc("/get", GetHAndler)
	http.HandleFunc("/post", PostHandler)
	http.ListenAndServe("localhost:8080", nil)
}
